config/awesome/bling/
config/awesome/rubato/
config/awesome/vicious/
config/awesome/wallpapers/blue.png.png
config/awesome/wallpapers/beautiful*
config/awesome/wallpapers/blue-sky.png
config/awesome/wallpapers/blue.png
config/awesome/wallpapers/blue.png.png
